<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/GRID.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <script
        src="../public/stylesheets/css fontawesome/fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/js/all.js"></script>
    <script src="../public/javascripts/jquery-3.5.1.min.js"></script>
    <title>Main</title>
</head>

<body>
    <div class="app">
        <header class="header">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-4 m-6 c-0">
                        <p>NODEMY</p>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <p class="center">TO<span style="color:red">DO</span>LIST</p>
                    </div>
                    <div class="col l-4 m-4 c-0">
                        <p>Trần Hoài Văn</p>
                    </div>

                </div>
            </div>
        </header>

        <!--  -->
        <div class="main">
            <div class="grid wide">
                <div class="content">
                    <div class="content__header">
                        <input type="text" id="title" name="title" placeholder="Create Job..." autocomplete="off">
                        <button class="add__btn">Add Job</button>
                    </div>
                    <div class="content__title">List of Job</div>
                    <div class="content__main">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="../public/javascripts/main.js"></script>

</html>