<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/GRID.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/main_responsive.css">
    <script
        src="../public/stylesheets/css fontawesome/fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/js/all.js"></script>
    <script src="../public/javascripts/jquery-3.5.1.min.js"></script>
    <title>Main</title>
</head>

<body>
    <div class="app">
        <header class="header">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-4 m-0 c-0">
                        <div class="header__image" href="/">
                            <p class="header__image--text">Nodemy - Khóa Online I</p>
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <p class="header__center">TO<span style="color:red">DO</span>LIST</p>
                    </div>
                    <div class="col l-4 m-6 c-0">
                        <div class="header__user">
                            <i class="far fa-user"></i>
                            <p class="header__user--text">Hoai Van</p>
                            <a href="./user/logout" class="header__user--link"><i class="fas fa-sign-out-alt"></i>Log
                                out</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>

        <!--  -->
        <div class="main">
            <div class="grid wide">
                <div class="content">
                    <div class="content__header">
                        <input class="input" type="text" id="title" name="title" placeholder="Create Job..."
                            autocomplete="off">
                        <button class="add__btn">Add Job</button>
                    </div>
                    <div class="content__title">List of Job</div>
                    <div class="content__main">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="../public/javascripts/main.js"></script>

</html>