body {
    color: white;
    font-family: 'Alata', sans-serif;
}

.jumbotron {
    width: 50%;
    background: rgba(12, 0, 0, 0.527);
    margin: 2% auto;
}

.hidden {
    display: none;
}

label{
    width: 100px;
}

#username{
    width: 250px;
}

#selectList{
    width: 250px;
    margin-top:10px;
    height: 28px;
}

.join_btn{
    width: 100%;
    margin: 0px;
    margin-top: 30px;
    background:rgba(255, 255, 255, 0.5);
    height: 30px;
}

.room {
    z-index: 99;
    position: fixed;
    top: 150px;
    right: 10px;
    background: rgba(12, 0, 0, 0.801);
    width: 150px;
    border-radius:5px;
}

.nameRoom{
    display:flex;
    flex-direction: column;
    align-items: center;
    background:rgba(105, 21, 21, 0.918);
    border-radius:5px 5px 0 0 ;
    height: 50px;

}

.leave_btn{
    margin: 0;
    width: 100%;
    height: 30px;
    background: rgba(3, 88, 10, 0.76);
    border-radius: 0 0 5px 5px;
}

.leave_btn:hover{color:red;}

.submitmessage {
    width: 100%;
    position: fixed;
    bottom: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#submittext {
    display: flex;
    width: 50%;
}

#submittext input {
    width: 90%;
}

#submittext button {
    display: block;
    margin-left: auto;
}

@media (max-width:740px){
    .jumbotron {
        margin-left: 8%;
    }
}