/*** box sizing border-box for all elements ***/
*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}
/* RESET CSS */

* {
  box-sizing: border-box;
}

@font-face{
  src:url(../stylesheets/Alata-Regular.ttf);
  font-family:Alata;
}

@font-face{
  src:url(../stylesheets/Lemonada-Bold.ttf);
  font-family:Lemonada;
}

:root{
  --graycolor:#ddebf7;
}


/* BASE */

.app{
  display:flex;
  flex-direction: column;
  height: 100%;
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Alata', sans-serif;
  box-sizing: border-box;
}

/* HEADER */
.header{
  height: 10%;
  /* background:linear-gradient(rgba(10, 34, 61, 0.9),rgba(79, 108, 141, 0.9)),url(../images/—Pngtree—network\ information\ electronic\ technology\ background_1096792.jpg) ; */
  background-size: cover;
  background-position-y: 30%;
  /* background:var(--graycolor); */
}

p{
  height: 100px;
  background: rgba(79, 108, 141, 0.3);
  font-size:2.2rem;
  line-height:100px;
  color: white;
}

.center{
  font-size:3.5rem;
  font-family: 'Lemonada', cursive;
  color: rgb(2, 17, 85);
}

/* body */
.main{
  height: 90%;
  background:url(../images/Black-Panther-Wallpaper-Background.jfif);
  background-size: cover;
}
